:root {
    --primary-color: #d60644;
    --primary-color-op: rgba(215, 59, 68, 0.1);
    --secondary-color: #EA9E38;
    --secondary-color-op: rgba(234,158,56, 0.1);
    --background-color: #F2F3F4;
    --text-color: #363636;
    --black: #000000;
    --gray: #666666;
    --white: #ffffff;
}