:root {
    --primary-color: #d0184f;
    --primary-color-op: rgba(215, 59, 68, 0.1);
    --secondary-color: #e89a30;
    --secondary-color-op: rgba(234,158,56, 0.1);
    --background-color: #F2F3F4;
    --text-color: #363636;
    --black: #000000;
    --gray: #666666;
    --gray2: #bbb;
    --white: #ffffff;
}