@font-face {
    font-family: Dana-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/dana-fanum-bold.eot');
    src: url('../fonts/eot/dana-fanum-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-bold.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-bold.woff') format('woff');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/dana-fanum-regular.eot');
    src: url('../fonts/eot/dana-fanum-regularitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-regular.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Dana", "Arial", sans-serif ;

}

*:focus {
    outline: none;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #212121;
    font-weight: normal;
    background-color: #ffffff;
    direction: rtl;
}


ul {
    margin: 0 !important;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    font-family: "IRANSans", "Arial", sans-serif;
    font-weight: normal;
}

input,
textarea,
button {
    outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "IRANSans", "Arial", sans-serif;
}

p {
    margin-bottom: 0 !important;
}

.clearfix {
    clear: both !important;
}

.container-fluid {
    max-width: 1366px;
}

.img img {
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    width: 100%;
    height: 100%;
}

/*header*/
header.site_header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    height: 135px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    overflow: hidden;
}
.header-section .header-main {
    width: 100%;
    display: inline-block;
    background-color: #ffffff;
}

.header-section .header-main .header-top {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header-section .header-main .header-right {
    float: right;
    margin: 17px 0;
}

.header-section .header-main .search-box.mobile {
    display: none;
}

.header-section .header-main .header-right .search-box {
    width: 100%;
}

.header-section .header-main .header-left {
    float: left;
    display: flex;
    margin: 22px 0;
}

.header-section .header-main .header-logo img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
}

.header-section .header-bottom .burger-menu {
    display: none;
    float: right;
    line-height: 50px;
    font-size: 22px;
    color: #616161;
    background-color: transparent;
    border: none;
}

.header-section .header-bottom .header-social {
    margin: 7px 0;
    float: left;
    padding-left: 0;
}

.header-section .header-bottom .header-social li {
    float: left;
    margin: 5px 3px;
    list-style: none;
}

.header-section .header-bottom .header-social li a {
    width: 29px;
    height: 29px;
    display: block;
    line-height: 33px;
    background-color: #616161;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
}

.header-section .header-bottom .header-social li a i {
    position: relative;
    top: 2px;
}

.header-section .header-bottom .header-social li a:hover {
    background-color: #ea580c;
}

.header-section .header-main .header-left .account-box {
    padding: 0 10px;
    line-height: 34px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #757575;
    font-size: 14px;
    text-align: center;
    margin-left: 15px;
}

.header-section .header-main .header-cart {
    display: block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    margin-top: 6px;
}

.header-section .header-main .header-cart .cart_count {
    position: absolute;
    right: -5px;
    top: -3px;
    background-color: #ff0000;
    color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
}

.header-section .header-main .fa-shopping-cart {
    position: relative;
    top: 3px;
    font-size: 18px;
    right: 2px;
    color: #616161;
}

.header-section .header-main .header-menu {
    float: right;
}

.header-section .header-main .header-menu nav {
    position: relative;
}

.header-section .header-main .header-menu nav ul li {
    display: inline-block;
    position: relative;
    padding: 15px;
}

.header-section .header-main .header-menu nav ul li:first-child {
    padding-right: 0 !important;
}

.header-section .header-main .header-menu nav ul li a {
    display: block;
    color: #616161;
}

.header-section .header-main .header-menu nav ul li a:hover {
    color: #ea580c;
}

.header-section .header-main .header-menu nav ul li ul {
    width: 200px;
    margin: 20px 0 0;
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 2;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 5px;
}

.header-section .header-main .header-menu nav ul li ul li {
    padding: 0;
}

.header-section .header-main .header-menu nav ul li ul:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: -10px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.header-section .header-main .header-menu nav ul li:hover ul {
    margin: 0;
    opacity: 1;
    visibility: visible;
}

.header-section .header-main .header-menu nav ul li ul li {
    width: 100%;
    float: none;
    display: block;
}

.header-section .header-main .header-menu nav ul li ul li a {
    padding: 10px 15px;
}

.header-section .header-main .header-menu nav ul li ul li a:hover {
    color: #ea580c;
}

.header-section .header-main .header-menu .header-logo,
.header-section .header-main .header-menu .close-menu {
    display: none;
}

.header-section .header-main .header-menu.active {
    display: block !important;
    width: 70%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.header-section .header-main .header-menu.active .close-menu {
    display: block;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 15px;
    top: 15px;
}

.header-section .header-main .header-menu.active .header-logo {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.header-section .header-main .header-menu.active .header-logo img {
    display: block;
    margin: 20px auto;
}

.header-section .header-main .header-menu.active ul li {
    display: block;
}

.header-section .header-bottom {
    position: relative;
}

/*end header*/

/*main*/
main {
    background-color:  #f6f6f6 !important;
    margin-top: 135px;
}
/*end main*/

/*footer*/

footer {
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

footer .service-section {
    padding: 50px 0;
    border-bottom: 1px solid #C8C8C8;
}
footer .service-section img {
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    line-height: 60px;
}

footer .service-section h4 {
    font-size: 1rem;
    margin: 10px 0 0;
}

footer .service-section span {
    font-size: .8rem;
}
footer .copyright {
    background-color: #e0e0e0;
    border-top: 1px solid #C8C8C8;
    padding: 10px 0;
}
footer .copyright .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright .footer-social {
    display: flex;
    margin-bottom: 0;
}
footer .copyright .footer-social li {
    margin-right: 15px;
}
footer .copyright .footer-social li a {
    color: #616161;
    font-size: 24px;
}
footer .copyright .footer-social li:hover a {
    color: #ea580c;
}

.footer-contact-us h3 {
    font-size: 18px;
    color: #2b2911;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
}
.footer-contact-us ul li {
    color: #2b2911 !important;
}
.footer-contact-us ul li span {
    font-weight: normal;
}

.menu {
    margin: 20px 0;
}
.menu ul li a, .footer-contact-us ul li {
    font-size: 14px;
    color: #81858b;
    line-height: 35px;
    font-weight: bold;
}
/*end footer*/

/*----Media Query----*/

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    footer .copyright .container-fluid {
        display: block;
        text-align: center;
    }
    footer .copyright .footer-social {
        justify-content: center;
        margin: 10px 0 !important;
    }
    .namad {
        text-align: center;
        margin: 10px 0;
    }
}


@media (max-width: 576px) {

}

@media (max-width: 425px) {

}

@media (max-width: 320px) {

}





