@font-face {
    font-family: Dana-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/dana-fanum-bold.eot');
    src: url('../fonts/eot/dana-fanum-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-bold.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-bold.woff') format('woff');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/dana-fanum-regular.eot');
    src: url('../fonts/eot/dana-fanum-regularitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-regular.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Dana", "Arial", sans-serif ;

}

*:focus {
    outline: none;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #212121;
    font-weight: normal;
    background-color: #ffffff;
    direction: rtl;
}


ul {
    margin: 0 !important;
    list-style: none;
    padding: 0 !important;
}

a,
a:hover {
    text-decoration: none;
    font-family: "Dana", "Arial", sans-serif;
    font-weight: normal;
}

input,
textarea,
button {
    outline: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

.clearfix {
    clear: both !important;
}

.container-fluid {
    max-width: 1366px;
}

.img img {
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    width: 100%;
    height: 100%;
}

/*header*/
/*-----------------Menu-----------------*/
header{
    background-color: #fefefe;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

.logo {
    float: right;
    margin-top: 5px;
    width: 70px;
    height: auto;
    border-radius: 50%;
}

.left-menu {
    margin: 6px 0 10px 3px;
    cursor: pointer;
    direction: ltr;
    color: #fff;
}

.left-menu ul {
    padding: 0;
    float: left;
    font-family: "dana", "Arial", sans-serif;
}

.left-menu ul li {
    float: left;
    padding: 6px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    direction: rtl;
    position: relative;
    list-style: none;
}

.left-menu ul li:first-child:hover .user-menu-list {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    padding: 0;
    z-index: 100000;
}

.left-menu ul li:first-child {
    border: 1px solid var(--text-color);
    border-radius: 6px;
    margin-right: 5px;
    transition: background-color .4s linear;
    -webkit-transition: background-color .4s linear;
    -moz-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    -ms-transition: background-color .4s linear;
}

.left-menu ul li:first-child:hover a,
.left-menu ul li:first-child:hover svg {
    color: var(--text-color);
}

.left-menu a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    position: relative;
    margin: 2px 18px 0px 0;
    padding: 2px 4px;
}

.left-menu a svg {
    position: absolute;
    top: 2px !important;
    right: -20px !important;
    font-size: 19px;
    font-weight: 200;
    color: var(--text-color);
}

.left-icons a svg {
    position: relative;
    top: -5px !important;
    font-size: 22px;
    font-weight: 200;
    color: var(--text-color);
    left: 12px;
    margin-right: 10px;
}

.left-menu li:first-child a img {
    right: -21px;
}

.left-menu .user-menu-list li img {
    position: absolute;
    top: 5px !important;
    right: -17px !important;
    width: 18px;
}

.left-menu .user-menu-list li img.wallet {
    position: absolute;
    top: 12px !important;
    right: 12px !important;
}

.left-menu .cart-counter,
.left-icons .cart-counter {
    position: absolute;
    font-size: 10px;
    top: 1px;
    right: -3px;
    width: 15px;
    line-height: 19px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
}

.left-icons .cart-counter {
    font-size: 13px;
    top: -14px;
    right: -10px;
    width: 16px;
    line-height: 19px;
    height: 17px;
}

.left-icons {
    display: none;
}

.user-menu-list {
    position: absolute;
    left: 0px;
    top: 100%;
    min-width: 211px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .17);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .17);
    -webkit-transition: opacity .2s ease-out, visibility 0s .2s;
    -o-transition: opacity .2s ease-out, visibility 0s .2s;
    transition: opacity .2s ease-out, visibility 0s .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.user-menu-list.list-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-in-out;
}

.user-menu-list ul {
    list-style: none;
    margin: 0;
}

.user-menu-list ul li {
    float: right !important;
    margin: 0 !important;
    width: 100%;
    list-style: none;
    padding-right: 10px;
    border: none !important;
}


.user-menu-list a,
.left-menu ul li .color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    color: #353535 !important;
    -webkit-transition: color .1s ease-out, background-color .1s ease-out;
    -o-transition: color .1s ease-out, background-color .1s ease-out;
    transition: color .1s ease-out, background-color .1s ease-out;
    -moz-transition: color .1s ease-out, background-color .1s ease-out;
}

.user-menu-list li:hover, header .menu > ul > li > ul.normal-sub > li:hover {
    background-color: #eceaea;
    border-radius: 6px;
}

.user-menu-list li.log-out svg {
    margin-left: 5px;
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 400;
}

/*end header*/

/*main*/
main {
    background-color:  #f6f6f6 !important;
    padding-top: 50px;
}
/*end main*/

/*blog*/
.blog.main {
    position: relative;
    overflow: hidden;
    margin-top: 0 !important;
}
.img {
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
}

.blog .main_card {
    border: none;
    border-radius: 16px;
    -moz-border-radius: 16px;
    --bs-border-radius: 16px;
    -webkit-border-radius: 16px;
    background: #FFF;
    padding: 40px 108px;
    margin: 40px 0;
    position: relative;
}

.blog .card {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #FFF;
    border: none !important;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}
.blog .card:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
}
.blog .card .card-img-top {
    width: 100%;
    height: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.blog .card .card-body {
    text-align: center;
    position: relative;
}

.blog section .card .card-body {
    padding: 8px;
}

.blog .card .card-body .name {
    color: #202020;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.blog .card .card-body ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blog .card .card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #777777;
}
.blog .card .card-body ul li {
    color: #6c757d;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
}
.blog .card .card-body ul li i,
.blog .card .card-body ul li svg {
   margin-left: 5px;
}

.blog .swiper {
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    padding: 20px 10px;
    position: relative;
    margin: 0px -10px;
}

.blog .swiper-button-disabled {
    display: none;
}

.blog .swiper-button-prev,
.blog .swiper-button-next {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.20));
    -ms-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.20));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.14)) drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.20));
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.blog .swiper-button-prev {
    right: 0 !important;
    left: unset !important;
}

.blog .swiper-button-next {
    left: 0 !important;
    right: unset !important;
}

.blog .swiper-button-prev:after,
.blog .swiper-button-next:after {
    font-size: 12px;
    color: #868686;
    font-weight: bold;
}

.primary_btn {
    display: inline-block;
    padding: 0 24px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #ffffff !important;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500 !important;
    text-align: center;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.outline_btn {
    display: inline-block;
    padding: 0 24px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: transparent;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500 !important;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.blog .outline_btn:hover {
    color: #ffffff !important;
    background-color: var(--primary-color);
}

.blog .sec1 {
    margin-bottom: 48px;
}

.blog .sec2,
.blog .sec3 {
    margin-bottom: 96px;
}

.blog .sec1 ul li:first-child {
    width: calc(60% + 10px) !important;
    float: right;
    margin-right: 0;
    height: 350px;
}

.blog .sec1 ul li {
    width: calc(20% - 15px);
    height: 170px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blog .sec1 span {
    color: #FBFBFB;
    font-size: 24px;
    font-weight: 400;
}

.blog .sec1 .img {
    position: relative;
    height: 100%;
}

.blog .sec1 .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
}


.blog .sec1 ul li:first-child .info {
    bottom: 16px;
    right: 16px;
    left: 16px;
    padding: 16px;
}

.blog .sec1 ul li .info {
    position: absolute;
    bottom: 4px;
    right: 4px;
    left: 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 4px;
}

.blog .sec1 ul li .info h1 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 0;
    opacity: 1;
}

.blog .sec1 ul li:first-child .info h1 {
    font-size: 20px;
    line-height: 33px;
}

.blog .sec1 .img .cover i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 64px;
}


.blog .sec1 .swiper-button-prev,
.blog .sec1 .swiper-button-next {
    filter: unset;
    -ms-filter: unset;
    -webkit-filter: unset;
    background-color: unset;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    padding: 0 30px;
}

.blog .sec1 .swiper-button-prev:after,
.blog .sec1 .swiper-button-next:after {
    font-size: 32px;
    color: #ffffff;
}

.title {
    margin-bottom: 24px;
    color: #5E5E5E;
    font-size: 24px;
    font-weight: 500;
}

.title h3 {
    color: #5E5E5E;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}
.title h3:after {
    content: "";
    height: 3px;
    width: 70%;
    background-color: var(--primary-color);
    position: absolute;
    left: unset;
    right: 0;
    bottom: -5px;
}
.title h3:before {
    content: "";
    height: 3px;
    width: calc(30% - 10px);
    background-color: #5E5E5E;
    position: absolute;
    left: 0;
    right: unset;
    bottom: -5px;
}
.blog .newsletter_box  {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 64px;
    height: 336px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.blog .newsletter_box  .info {
    width: 47%;
}

.blog .newsletter_box  .info .newsletter_form {
    position: relative;
}

.blog .newsletter_box  .info .newsletter_form p {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    direction: rtl !important;
}

.blog .newsletter_box  .info .newsletter_form input[type=email] {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #EBEBEB;
    border: none;
    text-align: right;
    line-height: 56px;
    padding: 0 16px;
    width: 97%;
    font-size: 16px;
    font-weight: 400;
}

.blog .newsletter_box  .info .newsletter_form input[type=submit].disable {
    background-color: #CACACA;
}
.newsletter_box .info .newsletter_form input[type=submit].enable {
    background-color: var(--primary-color);
}
.blog .newsletter_box  .info .newsletter_form input[type=submit] {
    line-height: 56px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: none;
    color: #ffffff;
    padding: 0 10px;
    width: 28%;
    font-family: iranyekan !important;
    font-size: 20px;
    font-weight: 500;
}

.blog .newsletter_box  .info .newsletter_form .wpcf7-not-valid-tip {
    position: absolute;
    bottom: -20px;
    font-size: 14px;
}

.blog .newsletter_box  .info .newsletter_form .wpcf7-spinner {
    position: absolute;
    bottom: -25px;
    left: 5px;
}

.blog .wpcf7-response-output {
    display: none;
}

.blog .newsletter_box  .title {
    font-size: 32px;
    font-weight: 500;
    color: #08272C;
    margin-bottom: 16px;
}

.blog .newsletter_box  p {
    font-size: 20px;
    font-weight: 400;
    color: #0000008A;
    margin-bottom: 40px !important;
}

.blog .sec5 {
    margin-bottom: 80px;
}

.blog .sec5 .category li {
    margin-left: 16px;
    margin-bottom: 8px;
}

.blog .sec5 .category .nav-link {
    border-radius: 24px;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.blog .sec5 .category .nav-link.active {
    background-color: var(--primary-color-op);
}

.blog .sec5 .tab-pane.active .card {
    display: none;
}

.blog .blog .sec5 .card .img .cover i,
.blog .search_page .card .img .cover i ,
.blog .category_page .card .img .cover i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 48px;
}

.blog .sec6 {
    margin-bottom: 80px;
}

.blog .banner_box {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 64px;
    height: 336px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.blog .banner_box .info {
    text-align: center;
}

.blog .banner_box .logo_title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.blog .banner_box div {
    color: #07282C;
    font-size: 32px;
    font-weight: 500;
}

.blog .banner_box .logo_title img {
    width: 60px;
    margin-left: 16px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    --bs-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.blog .banner_box .logo_title h3 {
    font-size: 32px;
    font-weight: 500;
}

.blog.single .banner_img img {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    max-height: 400px;
    margin-bottom: 40px;
}

.blog.single h1 {
    color: #5E5E5E;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0;
}

.blog.single .single_content .info_box {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FAFAFA;
    margin: 24px 0;
    padding: 16px;
}

.blog.single .single_content .info_box ul li svg,
.blog.single .single_content .info_box ul li i {
    margin-left: 16px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
}

.blog.single .single_content .info_box ul li {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.blog.single .single_content .info_box ul li:last-child {
    margin-bottom: 0;
}

.blog.single .single_content .info_box ul li span {
    margin-right: 8px;
    font-weight: 500;
}

.blog.single .single_content .info_box ul li a {
    position: relative;
}

.blog.single .single_content .info_box ul li a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}
.blog.single .paragraph {
    position: relative;
}

.blog.single .paragraph p {
    color: #626262;
    font-size: 16px;
    font-weight: 400;
}

.blog.single .paragraph p img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    -moz-border-radius: 16px;
    --bs-border-radius: 16px;
    -webkit-border-radius: 16px;
}
.blog.single .blue_bg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 36px 64px;
    margin: 40px 0 80px;
    background-color: var(--primary-color-op);
    position: relative;
}
.blog.single .blue_bg p {
    color: rgba(0, 0, 0, 0.75);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px !important;
}
.blog.single .blue_bg.posts p {
    width: 100%;
}

.blog.single .blue_bg i {
    font-size: 32px;
    margin-left: 16px;
    color: #07282C;
}

.blog.single .blue_bg ul {
    margin-right: 50px;
    margin-top: 32px;
}

.blog.single .blue_bg ul li {
    margin-bottom: 16px;
    position: relative;
    align-items: center;
    padding-right: 20px;
}

.blog.single .blue_bg ul li:before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    --bs-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    right: 0;
    top: 13px;
    background-color: var(--primary-color);
}

.blog.single .blue_bg ul li:last-child {
    margin-bottom: 0;
}

.blog.single .blue_bg ul.inner_article li:last-child {
    margin-bottom: 16px;
}

.blog.single .blue_bg ul li a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}
.blog.single .single_content .navigate_posts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.blog.single .single_content .navigate_posts .navigate_box span {
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
    font-weight: 400;
}

.blog.single .single_content .navigate_posts .navigate_box p,
.blog.single .single_content .navigate_posts .navigate_box p a {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}

.blog.single .single_content .navigate_posts .navigate_box {
    width: 49%;
    height: 144px;
    padding: 0 24px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #FAFAFA;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.blog.single .single_content .navigate_posts .navigate_box div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.blog.single .single_content .navigate_posts .navigate_box.prev div {
    right: 24px;
    text-align: right;
}

.blog.single .single_content .navigate_posts .navigate_box.next div {
    left: 24px;
    text-align: left;
}
.blog.single .related_posts {
    margin-bottom: 96px;
}

.blog.single .single_comment input[type=text] {
    margin-bottom: 24px;
}

.blog.single .single_comment textarea {
    line-height: normal !important;
    padding: 16px 24px !important;
}

.blog.single .single_comment input[type=text],
.blog.single .single_comment textarea {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    color: rgba(0, 0, 0, 0.54);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    line-height: 56px;
    padding: 0 24px;
}

.blog.single .single_comment .comment-form-cookies-consent {
    display: none;
}

.blog.single .single_comment .comment-respond {
    margin-bottom: 210px;
    position: relative;
}

.blog.single .single_comment .comment-respond .primary_btn {
    position: absolute;
    left: 0;
    bottom: -74px;
    line-height: 54px;
}

.blog.single .single_comment .comment-respond .primary_btn.disable {
    background-color: #CACACA !important;
    border: 1px solid #CACACA;
}

.blog.single .single_comment .comment-respond .comment-form-captcha {
    display: none;
}

.blog.single .single_comment .comment-respond label {
    display: none;
}

.blog.single .single_comment .comment-respond #captcha_code {
    width: 65%;
    position: absolute;
    right: 0;
    bottom: -74px;
    margin-bottom: 0;
}

.blog.single .single_comment .comment-respond img {
    position: absolute;
    right: 53%;
    bottom: -62px;
    z-index: 10;
}

.blog.single .single_comment .comment {
    margin-bottom: 16px;
}

.blog.single .single_comment .comment .comment-in {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    position: relative;
    background-color: #ffffff;
}

.blog.single .single_comment .comment .comment-in .author {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.blog.single .single_comment .comment .comment-in .author svg,
.blog.single .single_comment .comment .comment-in .author i {
    box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.25);
    -o-box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 2px 6px rgba(0, 0, 0, 0.25);
    background-color: #FAFAFA;
    border-radius: 50%;
    -moz-border-radius: 50%;
    --bs-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #0000008A !important;
    display: block;
    margin-bottom: 0 !important;
    font-size: 32px;
    line-height: 30px;
    margin-left: 8px;
    padding: 15px;
}

.blog.single .single_comment .comment .comment-in .author p {
    font-size: 16px;
    font-weight: 700;
}

.blog.single .single_comment .comment .comment-in .author_comment p {
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    margin-right: 64px;
}

.blog.single .single_comment .comment .comment-in .date {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #0000008A;
}

.blog.single .single_comment .comment .comment-in .author .fa-reply,
.blog.single .single_comment .comment .comment-in .author .icon-reply {
    display: none;
}

.blog.single .single_comment .children {
    margin-bottom: 32px;
}

.blog.single .single_comment .children .comment .comment-in .author .icon-reply {
    display: block;
    line-height: 0;
    border-right: 0;
    background-color: transparent;
    box-shadow: none;
    text-align: right;
    width: auto;
    font-size: 32px;
}

.blog.single .single_comment .children .comment .comment-in {
    background-color: #FAFAFA;
    margin-right: 64px;
}

.blog.single .single_comment .comment_box {
    margin-bottom: 128px;
}

.main_card.in {
    box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.25);
    padding: 24px 8px;
    margin: 0;
}

.main_card.in .title {
    font-size: 16px;
    text-align: center;
}

.main_card.in .card.cat {
    text-align: center;
}

.main_card.in .card.cat p {
    margin-bottom: 12px !important;
    font-size: 10px;
    font-weight: 500;
}

.main_card.in .card.cat img {
    width: 48px;
    padding: 12px 0;
    margin: 0 auto;
}
.main_card.in .card.related img {
    max-height: 148px;
    min-height: 148px;
}

.main_card.in .card.related {
    margin-bottom: 4px;
}

.main_card.in .social li {
    margin-bottom: 4px;
}

.main_card.in .social li a {
    width: 100%;
    display: flex;
    align-items: center;
}

.main_card.in .social li a p {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 400;
}

.main_card.in .social li a svg {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    color: var(--primary-color);
}

.main_card.in .social li {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #CACACA;
    background: #FAFAFA;
    padding: 8px 4px;
}

.main_card.in .banner .img {
    position: relative;
}

.main_card.in .banner .img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 32.74%, rgba(255, 255, 255, 0.50) 62.27%);
}

.main_card.in .banner .img img {
    border-radius: 8px;
    -moz-border-radius: 8px;
    --bs-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.main_card.in .banner .img .primary_btn {
    position: absolute;
    left: 8px;
    bottom: 8px;
    border-radius: 50%;
    -moz-border-radius: 50px;
    --bs-border-radius: 50px;
    -webkit-border-radius: 50px;
    box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.25);
    height: 60px;
    line-height: 60px;
    z-index: 2;
    min-width: 140px;
    font-size: 20px;
}

/*--pagination ul --*/

.pagination ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pagination ul li {
    display: inline-block;
    margin: 0 !important;
}

.pagination ul li a.next,
.pagination ul li a.prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.pagination ul li a.next i:before,
.pagination ul li a.prev i:before {
    font-size: 24px;
}

.pagination ul li a {
    color: #333333;
    text-decoration: none;
    padding: 5px 15px;
    margin: 5px;
    display: block;
}

.pagination ul li a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    color: var(--primary-color);
}

.pagination ul li span {
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    margin: 5px;
    color: var(--primary-color);
}

.pagination ul li .dots {
    color: #000;
}

/* end pagination */

.category_page .cat_title {
    color: #5E5E5E;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 56px;
}
/*end blog*/

/*footer*/

footer {
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

footer .service-section {
    padding: 50px 0;
    border-bottom: 1px solid #C8C8C8;
}
footer .service-section img {
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    line-height: 60px;
}

footer .service-section h4 {
    font-size: 1rem;
    margin: 10px 0 0;
}

footer .service-section span {
    font-size: .8rem;
}
footer .copyright {
    background-color: #e0e0e0;
    border-top: 1px solid #C8C8C8;
    padding: 10px 0;
}
footer .copyright .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright .footer-social {
    display: flex;
    margin-bottom: 0;
}
footer .copyright .footer-social li {
    margin-right: 15px;
}
footer .copyright .footer-social li a {
    color: #616161;
    font-size: 24px;
}
footer .copyright .footer-social li:hover a {
    color: var(--primary-color);
}

.footer h4 {
    font-size: 18px;
    color: #2b2911;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
}
.footer-contact-us ul li {
    color: #2b2911 !important;
}
.footer-contact-us ul li span {
    font-weight: normal;
}

.footer .menu {
    margin: 20px 0;
}
.menu ul li a, .footer-contact-us ul li {
    font-size: 14px;
    color: #81858b;
    line-height: 35px;
    font-weight: bold;
}
.footer ul li {
    display: block; !important;
}
/*end footer*/

/*----Media Query----*/

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .blog .sec1 ul li:first-child {
        height: 312px;
    }

    .blog .sec1 ul li:first-child,
    .blog .sec1 ul li {
        width: 100% !important;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .blog .sec1 ul li:first-child .info {
        bottom: 8px;
        right: 8px;
        left: 8px;
        padding: 4px;
    }

    .blog .sec1 ul li .info h1 {
        font-size: 12px !important;
    }

    .blog .sec1 ul li:first-child .info h1 {
        font-size: 16px !important;
    }

    .blog .newsletter_box,
    .blog .banner_box {
        flex-wrap: wrap;
        height: auto;
        background-size: cover;
        padding: 56px 10px;
    }

    .blog .newsletter_box .info,
    .blog .banner_box .info {
        width: 100%;
    }

    .blog .banner_box img,
    .blog .newsletter_box img {
        margin: 0 auto;
        display: block;
    }

    .blog .banner_box .logo_title {
        width: 80%;
        margin: 0 auto 20px;
    }

    .blog .newsletter_box .info .newsletter_form p .wpcf7-form-control-wrap {
        width: 100%;
    }

    .blog .newsletter_box .info .newsletter_form p {
        flex-wrap: wrap;
        justify-content: end;
    }

    .blog .newsletter_box .info .newsletter_form input[type=submit] {
        margin-top: 8px;
    }

    .blog .newsletter_box .info .newsletter_form input[type=email] {
        width: 100%;
    }

    .blog .single_comment .comment-respond #captcha_code {
        width: 100%;
    }

    .blog .single_comment .comment-respond .primary_btn {
        left: 50% !important;
        bottom: -155px;
        transform: translateX(-50%);
    }

    .blog .single_comment .comment-respond img {
        right: unset;
        left: 16px;
    }

    .blog.single .sidebar {
        display: none;
    }

}

@media (max-width: 768px) {
    .blog .sec1 h1 {
        font-size: 20px;
    }

    .blog .sec1 span,
    .blog .sec1 a {
        font-size: 18px;
    }

    .blog .sec5 .category li {
        margin-left: 10px;
    }

    .blog.single .banner_img .banner_content h1 {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .blog.single .banner_img {
        height: 170px;
        margin-bottom: 24px;
    }

    .blog.single h1 {
        font-size: 20px;
    }

    .blog .blue_bg {
        padding: 36px 8px;
        margin: 40px 0;
    }

    .blog .blue_bg ul {
        margin-right: 16px;
    }

    .blog .blue_bg h4 {
        font-size: 20px;
    }

    .blog.single .single_content .navigate_posts .navigate_box p,
    .blog.single .single_content .navigate_posts .navigate_box p a {
        font-size: 16px;
    }

    .blog .single_comment .comment_box {
        margin-bottom: 80px;
    }
    footer .copyright .container-fluid {
        display: block;
        text-align: center;
    }
    footer .copyright .footer-social {
        justify-content: center;
        margin: 10px 0 !important;
    }
    .namad {
        text-align: center;
        margin: 10px 0;
    }
}


@media (max-width: 576px) {
    .blog .sec1 h1 {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .blog .sec1 span,
    .blog .sec1 a {
        font-size: 10px;
    }

    .blog .sec1 .swiper-button-prev:after, .blog .sec1 .swiper-button-next:after {
        font-size: 16px;
    }

    .blog .swiper_posts .swiper-button-prev, .blog .swiper_posts .swiper-button-next {
        display: none;
    }

    .blog .single_comment .children .comment .comment-in {
        margin-right: 0;
    }


    .blog .blue_bg p,
    .blog .blue_bg ul li a {
        font-size: 18px;
    }

    .blog .blue_bg i {
        margin-left: 8px;
    }
}

@media (max-width: 425px) {
    .blog .sec5 .tab-content .col,
    .blog .search_page .col {
        width: 100%;
    }

    .blog .sec5 .card .card-img-top,
    .blog.single .related_posts .card img {
        min-height: 148px;
        max-height: 148px;
    }

    .blog .blue_bg p {
        flex: none;
    }
}

@media (max-width: 320px) {
    .blog .pagination ul li a {
        padding: 5px 8px;
    }

    .blog.single .single_content .info_box ul li {
        font-size: 14px;
    }
    .blog .blue_bg p, .blog .blue_bg ul li a {
        font-size: 16px;
    }
}





