@font-face {
    font-family: Dana-Bold;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/dana-fanum-bold.eot');
    src: url('../fonts/eot/dana-fanum-bolditalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-bold.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-bold.woff') format('woff');
}

@font-face {
    font-family: Dana;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/dana-fanum-regular.eot');
    src: url('../fonts/eot/dana-fanum-regularitalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff2/dana-fanum-regular.woff2') format('woff2'),
    url('../fonts/woff/dana-fanum-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: "Dana", "Arial", sans-serif ;

}

*:focus {
    outline: none;
}

body {
    font-size: 14px;
    line-height: 24px;
    color: #212121;
    font-weight: normal;
    background-color: #ffffff;
    direction: rtl;
}


ul {
    margin: 0 !important;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    font-family: "Dana", "Arial", sans-serif;
    font-weight: normal;
}

input,
textarea,
button {
    outline: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "IRANSans", "Arial", sans-serif;
}

p {
    margin-bottom: 0 !important;
}

.clearfix {
    clear: both !important;
}

.container-fluid {
    max-width: 1366px;
}

.img img {
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    width: 100%;
    height: 100%;
}

/*header*/
/*-----------------Menu-----------------*/
header{
    background-color: #f6f6f6;
}

.transparent-back {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    z-index: 199;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
}


.close-menu svg {
    color: #658095;
    display: block;
    text-align: right;
    font-size: 26px;
    line-height: 33px;
    font-weight: 300;
    position: relative;
    right: 20px;
    top: 20px;
}

.close-menu {
    text-decoration: none;
}

.logo {
    float: right;
    margin-top: 5px;
    width: 80px;
    height: auto;
}

.left-menu {
    margin: 6px 0 10px 3px;
    cursor: pointer;
    direction: ltr;
    color: #fff;
}

.left-menu ul {
    padding: 0;
    float: left;
    font-family: "dana", "Arial", sans-serif;
}

.left-menu ul li {
    float: left;
    padding: 6px;
    margin: 5px 5px 5px 0;
    font-size: 14px;
    direction: rtl;
    position: relative;
    list-style: none;
}

.left-menu ul li:first-child:hover .user-menu-list {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    padding: 0;
}

.left-menu ul li:first-child {
    border: 1px solid #363636;
    border-radius: 6px;
    margin-right: 5px;
    transition: background-color .4s linear;
    -webkit-transition: background-color .4s linear;
    -moz-transition: background-color .4s linear;
    -o-transition: background-color .4s linear;
    -ms-transition: background-color .4s linear;
}

.left-menu ul li:first-child li:hover {
    background-color: #eceaea;
}

.left-menu ul li:first-child:hover {
    background-color: #FFFFFF;
}

.left-menu ul li:first-child:hover a,
.left-menu ul li:first-child:hover svg {
    color: #363636;
}



.left-menu a {
    display: inline-block;
    text-decoration: none;
    color: #363636;
    font-family: "dana", "Arial", sans-serif !important;
    font-size: 13px;
    position: relative;
    margin: 2px 18px 0px 0;
    padding: 2px 4px;
}

.left-menu a img {
    position: absolute;
    top: 1px !important;
    right: -19px !important;
    width: 18px;
}

.left-menu a svg {
    position: absolute;
    top: 2px !important;
    right: -20px !important;
    font-size: 19px;
    font-weight: 200;
    color: #363636;
}

.left-icons a svg {
    position: relative;
    top: -5px !important;
    font-size: 22px;
    font-weight: 200;
    color: #363636;
    left: 12px;
    margin-right: 10px;
}

.left-menu li:first-child a img {
    right: -21px;
}

.left-menu .user-menu-list li img {
    position: absolute;
    top: 5px !important;
    right: -17px !important;
    width: 18px;
}

.left-menu .user-menu-list li img.wallet {
    position: absolute;
    top: 12px !important;
    right: 12px !important;
}

.left-menu .cart-counter,
.left-icons .cart-counter {
    position: absolute;
    font-size: 10px;
    top: 1px;
    right: -3px;
    width: 15px;
    line-height: 19px;
    height: 15px;
    border-radius: 50%;
    background-color: #ED0209;
    color: #fff;
    text-align: center;
}

.left-icons .cart-counter {
    font-size: 13px;
    top: -14px;
    right: -10px;
    width: 16px;
    line-height: 19px;
    height: 17px;
}

.left-icons {
    display: none;
}

.toparea {
    text-align: center;
}

.position-fix {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    height: 80.5px;
    background-color: #ffffff;
    z-index: 101;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    color: #fff;
}

.user-menu-list {
    position: absolute;
    left: 0px;
    top: 100%;
    min-width: 211px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .17);
    box-shadow: 0 3px 12px rgba(0, 0, 0, .17);
    -webkit-transition: opacity .2s ease-out, visibility 0s .2s;
    -o-transition: opacity .2s ease-out, visibility 0s .2s;
    transition: opacity .2s ease-out, visibility 0s .2s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.user-menu-list.list-open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-in-out;
}

.user-menu-list ul {
    list-style: none;
    margin: 0;
}

.user-menu-list ul li {
    float: right !important;
    margin: 0 !important;
    width: 100%;
    list-style: none;
    padding-right: 10px;
}


.user-menu-list a,
.left-menu ul li .color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    color: #353535 !important;
    -webkit-transition: color .1s ease-out, background-color .1s ease-out;
    -o-transition: color .1s ease-out, background-color .1s ease-out;
    transition: color .1s ease-out, background-color .1s ease-out;
    -moz-transition: color .1s ease-out, background-color .1s ease-out;
}

.user-menu-list li:hover, header .menu > ul > li > ul.normal-sub > li:hover {
    background-color: #eceaea;
    border-radius: 6px;
}


.user-menu-list li.log-out svg {
    margin-left: 5px;
    font-size: 18px;
    color: #ED0209;
    font-weight: 400;
}

.menu-dropdown-icon:before {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    display: block;
    cursor: pointer;
    float: left;
    color: #FFF;
    position: relative;
    top: 9px;
    right: -5px;
    font-size: 11px;
}

header .menu .fa-times {
    display: none !important;
}

header .menu {
    margin-top: 15px;
}

header ul.menu li a img {
    display: none !important;
}

header .menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .menu > ul:before,
header .menu > ul:after {
    content: "";
    display: table;
}

header .menu > ul:after {
    clear: both;
}

header .menu > ul > li {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
}


header .menu > ul > li a {
    text-decoration: none;
    padding: 6px 12px 10px;
    display: inline-block;
    color: #363636;
    font-size: 14px;
}


header .menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #fff;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px 0 6px 6px;
}

header .menu > ul > li > ul:before,
header .menu > ul > li > ul:after {
    content: "";
    display: table;
}

header .menu > ul > li > ul:after {
    clear: both;
}

header .menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 33.33%;
    background: none;
    float: right;
    list-style: none;
}

header .menu > ul > li > ul > li a {
    color: #777;
    padding: 0.2em 0;
    width: 95%;
    display: block;
    direction: rtl;
}

header .menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .menu > ul > li > ul > li > ul:before,
header .menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

header .menu > ul > li > ul > li > ul:after {
    clear: both;
}

header .menu > ul > li > ul > li > ul > li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 0.8em;
    list-style: none;
}

header .menu > ul > li > ul > li > ul > li a {
    border: 0;
}

header .menu > ul > li > ul.normal-sub {
    width: 210px;
    left: auto;
    padding: 0;
    box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
    top: 50px;
}

header .menu > ul > li ul:after {
    content: '';
    position: absolute;
    top: 6px;
    right: 11px;
    margin-left: -34px;
    margin-top: -15px;
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 10px #FFF;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

header .menu > ul > li > ul.normal-sub > li {
    width: 100%;
    list-style: none;
    /*display: contents;*/
    text-align: right !important;
    padding: 0 15px;
}

header .menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}

header .menu > ul > li > ul.normal-sub > li:first-child a {
    padding-top: 20px !important;
}

header .menu .fa-chevron-down {
    font-size: 10px;
    position: relative;
    top: 1px;
    margin-right: 7px;
}

.search-form {
    box-shadow: -2px 8px 28px rgba(0, 0, 0, 0.12);
    text-align: center;
    width: 58%;
    display: block;
    margin: 20px auto 25px;
    position: relative;
}

#ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
    border-radius: 12px;
    text-align: right;


}

div.asl_r .results .item .asl_content h3, div.asl_r .results .item .asl_content h3 a {
    font-family: "dana", "Arial", sans-serif !important;
}

div[id*='ajaxsearchlite'].wpdreams_asl_container {
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

div.asl_w.asl_an_fadeInDrop {
    top: 203.849px !important;
    /*width: 733.432px !important;*/
}


div.asl_m .probox .proclose svg {
    background: none !important;
}

#ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input::placeholder {
    font-family: "dana", "Arial", sans-serif !important;
    color: #bebebe !important;
    margin-right: 10px !important;
}

.search-form input {
    width: 96%;
    font-family: "dana", "Arial", sans-serif;
    border: none;
    background: transparent;
    padding: 15px 0;
}

.search-form input::placeholder {
    font-family: "dana", "Arial", sans-serif;
    color: #bebebe;
}

.search-form span {
    float: left;
    top: 13px;
    position: absolute;
    font-size: 20px;
    left: 6px;
    color: #696969;
}

.burger-menu {
    background: transparent;
    border: none;
    font-size: 30px;
    color: #fff;
    display: none;
    float: left;
    margin-top: 7px;
}


/*end header*/

/*main*/
main {
    background-color:  #f6f6f6 !important;
    margin-top: 135px;
}
/*end main*/

/*footer*/

footer {
    background-color: #fefefe;
    position: relative;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .6);
}

footer .service-section {
    padding: 50px 0;
    border-bottom: 1px solid #C8C8C8;
}
footer .service-section img {
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 10px;
    line-height: 60px;
}

footer .service-section h4 {
    font-size: 1rem;
    margin: 10px 0 0;
}

footer .service-section span {
    font-size: .8rem;
}
footer .copyright {
    background-color: #e0e0e0;
    border-top: 1px solid #C8C8C8;
    padding: 10px 0;
}
footer .copyright .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright .footer-social {
    display: flex;
    margin-bottom: 0;
}
footer .copyright .footer-social li {
    margin-right: 15px;
}
footer .copyright .footer-social li a {
    color: #616161;
    font-size: 24px;
}
footer .copyright .footer-social li:hover a {
    color: #ea580c;
}

.footer-contact-us h3 {
    font-size: 18px;
    color: #2b2911;
    font-weight: bold;
    text-align: right;
    margin-bottom: 15px;
}
.footer-contact-us ul li {
    color: #2b2911 !important;
}
.footer-contact-us ul li span {
    font-weight: normal;
}

.menu {
    margin: 20px 0;
}
.menu ul li a, .footer-contact-us ul li {
    font-size: 14px;
    color: #81858b;
    line-height: 35px;
    font-weight: bold;
}
/*end footer*/

/*----Media Query----*/

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    footer .copyright .container-fluid {
        display: block;
        text-align: center;
    }
    footer .copyright .footer-social {
        justify-content: center;
        margin: 10px 0 !important;
    }
    .namad {
        text-align: center;
        margin: 10px 0;
    }
}


@media (max-width: 576px) {

}

@media (max-width: 425px) {

}

@media (max-width: 320px) {

}





