@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?ug7n07');
    src:  url('../../fonts/icomoon.eot?ug7n07#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?ug7n07') format('truetype'),
    url('../../fonts/icomoon.woff?ug7n07') format('woff'),
    url('../../fonts/icomoon.svg?ug7n07#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-google:before {
    content: "\e900";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-behance:before {
    content: "\e903";
}
.icon-telegram:before {
    content: "\e904";
}
.icon-google-plus:before {
    content: "\e905";
}
.icon-youtube:before {
    content: "\e906";
}
.icon-arrow-left:before {
    content: "\e907";
}
.icon-arrow-right:before {
    content: "\e908";
}
.icon-arrow-up:before {
    content: "\e909";
}
.icon-arrow-down:before {
    content: "\e90a";
}
.icon-filter:before {
    content: "\e90b";
}
.icon-down-flash:before {
    content: "\e90c";
}
.icon-calendar:before {
    content: "\e90d";
}
.icon-profile:before {
    content: "\e90e";
}
.icon-cm:before {
    content: "\e90f";
}
.icon-play:before {
    content: "\e910";
}
.icon-call:before {
    content: "\e911";
}
.icon-location-pin:before {
    content: "\e912";
}
.icon-message:before {
    content: "\e913";
}
.icon-search:before {
    content: "\e914";
}
.icon-cart:before {
    content: "\e915";
}
.icon-mobile:before {
    content: "\e916";
}
.icon-envelope:before {
    content: "\e917";
}
.icon-tag:before {
    content: "\e918";
}
.icon-reply:before {
    content: "\e919";
}
.icon-calendar-cm:before {
    content: "\e91a";
}
.icon-headset:before {
    content: "\e91b";
}
.icon-plus:before {
    content: "\e91c";
}
.icon-check:before {
    content: "\e91d";
}
.icon-left-flash:before {
    content: "\e91e";
}
.icon-right-flash:before {
    content: "\e91f";
}
.icon-up-flash:before {
    content: "\e920";
}
.icon-home:before {
    content: "\e921";
}
.icon-menu:before {
    content: "\e922";
}
.icon-pause:before {
    content: "\e923";
}
.icon-close:before {
    content: "\e924";
}